.container {
	margin:16px;
}

.txt {
	color:black;
}

.btn-link {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  text-decoration: underline;
  color: black;
  cursor: auto;
  font: inherit;
  font-family: inherit;
  font-size: inherit;
  display: inline;
  outline: none;
  outline-offset: 0;
}